*
{
    background-color: #f4f4f4;
}
body
{
    margin: auto;
    width: 95vw;
    display: grid;
    grid-template-rows: 3rem 75rem 10rem;
}
#header
{
    grid-row: 1 / 2;
    margin-top: 0;
    position: fixed;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 5vh;
    width: 100%;
}
#img-header
{
    grid-column: 1 / 2;
    height: 3vh;
    width: 60vw;
}
#nav-bar
{
    grid-column: 2 / 2;
    height: 50px;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#header-img
{
    height: 50px;
}
a{
    text-decoration: none;
    color: black;
}
.main
{
    grid-row: 2 / 3;
    text-align: center;
    margin: 0 auto;
    width: 70vw;
}
.footer
{
    border-radius: 3px;
    width: 50vw;
    margin: auto;
    grid-row: 3 / 3;
    margin-top: 0;
}
.footer-list
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer-list li
{
    text-align: justify;
    margin: 0 5px;
}
#pricing
{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 38vh;
    width: 50vw;
    column-gap: 5px;
}
.price
{
    border: 1px solid black;
    width: 18rem;
    height: 16.5rem;
    margin: auto;
}
li{
    list-style-type: none;
}
#how-it-works
{
    margin: 5px auto;
    height: 32vh;
    width: 70vw;
}
iframe
{
    margin: auto;
    height: 35vh;
    width: 40vw;
}
.price h3
{
    margin-top: 0;
    margin-bottom: 5px;
    height: 50px;
    text-align: center;
}
#features
{
    margin: auto;
    text-align: left;
    width: 70vw;
}
.part
{
    height: 12vh;
    display: grid;
    grid-template-columns: 0.5fr 50rem;
}
.icon-div
{
    margin: auto;
}
i
{
    color: orange;
    width: 20px;
    height: 20px;
}
.footer p
{
    text-align: right;
}
form
{
    display: flex;
    flex-direction: column;
}
#email
{
    background-color: #fff;
    padding: 5px;
    height: 2vh;
    width: 15vw;
    margin: 5px auto;
    border-radius: 3px;
}
#submit
{
    border: none;
    border-radius: 3px;
    width: 10vw;
    height: 3.5vh;
    background-color: rgb(211, 180, 3);
    margin: 5px auto;
}
.price button
{
    padding: 1rem;
    margin-bottom: 0;
    border: none;
    background-color:rgb(211, 180, 3);
    border-radius: 3px;
}
.price p:first-of-type
{
    font-weight: 600;
    font-size: larger;
}
.price h3, .footer, .footer p, .footer .footer-list, .footer-list a
{
    background-color: #a9a9a9;
}

@media screen and (max-width: 470px)
{
    .icon-div
    {
        display: none;
    }
}